
.App-link {
  color: #61dafb;
}

.App-Container {
  display: grid;
  grid-template-columns: 60px auto auto 60px;
  grid-template-rows: 60px auto auto 60px;
  grid-template-areas:
    "nav header header sidebar"
    "nav mainleft mainright sidebar"
    "nav SkillsLeft SkillsRight sidebar"
    "nav footer footer sidebar";
  height: "auto";
  width: "auto";
}


.Hello {
  display: grid;
  grid-column-start: mainleft;
  grid-column-end: mainright;
  grid-row: 2;
  height: calc(100vh - 60px);
}

.Skills {
  display: grid;
  grid-column-start: SkillsLeft;
  grid-column-end: SkillsRight;
  grid-row: 3;
  height: 100vh;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
